<div>
  <label>Title</label><br>
  <input [(ngModel)] ="titleMessage"><br>
  <label>Message</label><br>
  <input [(ngModel)] ="message"><br>
  <label>Image</label><br>
  <input type="text" [(ngModel)] ="imageMessage" height="100"><br>
  <input type="hidden" [(ngModel)]="vote" value="0"><br>
  <span> seperate with ;</span>
  <br>
  <button (click)="showAlert()">Click</button>
  <ul>
    <li *ngFor = "let message of messageList">
      <app-message
        [id]="message.id"
        [titleMessage] ="message.titleMessage"
        [imageMessage]="message.imageMessage"
        [body] = "message.body"
        [vote] ="message.vote"
        (removed)="onRemove($event)"
        (increased)="onIncrease($event)"
        (decreased)="onDecrease($event)"
        ></app-message>
      <br>
    </li>
  </ul>
</div>

